.App {
  text-align: center;
}

#display {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.digit {
  border: 10px solid black;
  width: 100px;
  height: 100px;
}

button {
  padding: 25px;
  margin: 10px;
}



