.App {
  text-align: center;
}

#display {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin: 10px;
}

#keypad {
  margin: 0 auto;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.digit {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 10px solid black;
  width: 100px;
  height: 100px;
  font-size: 40px;
}

button {
  padding: 25px;
  width: 25%;
  margin: 10px;
  font-size: 25px;
}

#reset {
  padding: 10px;
}



